
{{#if loggedIn}}
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
{{else}}

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> login-partial post }}
  </li>
  {{/each}}
</ol>
{{/if}}